{% set waveType = 'gray' if containerBackgroundType == 'gray' else
  'white' %}
<footer class="wave-border-footer wave-border-{{ waveType }}">
  <div class="footer-inside">
  <a href="{{ '/' | url }}" target="_blank">linuxmobile
    &nbsp;&copy;&nbsp;
    {{ helpers.currentYear() }}
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/about-the-notes/">
    Sobre estas notas
  </a>
  &nbsp;&bull;&nbsp;
	<a href="https://linuxmobile.netlify.app" target="_blank">
    linuxmobile blog
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/support-linux/">
    <img class="keep-original" src="/img_src/icons/coffee.svg" alt="Support This Site" height="16" width="25" /> Me das una manito? 
  </a>

    <div class="more-info">
      Built with <a href="https://www.11ty.dev/" target="_blank">11ty</a>, hosted on <a href="https://www.netlify.com/" target="_blank">Netlify</a>
    </div>
  </div>
</footer>

{# elasticlunr #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>

{% if env.environment !== "sample-no-opt" and env.environment !== "sample-opt" and env.environment !== "full-no-opt" %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GTM-KZPMNR8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GTM-KZPMNR8');
  </script>
{% endif %}

<script src="/src/js/components/clipboard.min.js"></script>
<script async defer src="{{ "/src/js/main.min.js" | addHash }}"></script>

{% if customJS %}
  {% set jsFooter %}
  {% for file in customJS %}
    {% include "scripts/" + file %}
  {% endfor %}
  {% endset %}
  <script>
    {{ jsFooter | jsmin | safe }}
  </script>
{% endif %}