---
layout: page
title: "Hola! Soy linux :3!"
specialTitleImageUrl: "/img_src/wave.webp"
description: Esto es un blog personal. Un lugar donde caen mis notas mas osadas!
customClass: "page-index"
customJS: ["toggle-notes.js"]
icon: '/img_src/avatar_memoji.webp'
date: Last Modified
---

<header class="pt-0 wave-border wave-border-index">
  <div class="header-container pt-0">

{% markdown %}
Hola, mi nombre es Braian, en redes sociales aparezco como __linuxmobile__. Soy el autor del blog [linuxmobile.netlify.app](https://linuxmobile.netlify.app). Me gustaría aprender algo nuevo todos los días. Actualmente estoy estudiando __Full Stack Developer__ en [NUCBA](https://nucba.com.ar/). En este "blog" vamos a encontrar las notas de las cosas que voy descubriendo. Relacionadas a la __programación__, __el desarrollo web__, y mucho más... {:.intro}
{% endmarkdown %}

    <div class="social">
      {% for item in social %}
        <a class="no-effect" title="{{ item.name }}" href="{{ item.url }}" target="_blank">
          <img class="keep-original" src="{{ item.icon }}" alt="{{ item.name }}" height="40" width="40">
        </a>
      {% endfor %}
    </div>
    {% if settings.look4job %}
      <div class="job mb-1p5">
        <span>Disponible para un trabajo Full-time!</span>
      </div>
    {% endif %}
    <p class="contact mt-0p5">
      <a class="button blue no-effect" href="mailto:bdiez19@gmail.com">
        {% if settings.look4job %}Hire me{% else %}Contact{% endif %}
      </a>
      <a class="button black" href="{{ '/about/' | url }}">📋 Mi CV</a>
      <a class="button black" href="/reading/">📚 Estoy leyendo...</a>
      <a class="button black" href="https://linuxmobile.netlify.app/" target="_blank">🦄 linuxmobile.com</a>
    </p>

  </div>
</header>

<div class="container wide d-flex d-flex-wrap">
  <div class="main-cats">
    {% for item in categories %}

      {# post outside 11ty .md files #}
      {% set more_post = false %}

      {% set newPostListCat = [] %}
      {% for post in cat_ex_posts %}
        {% if not post.hide %}
          {% for tg in post.tags %}
            {% if tg == item.name %}
              {% set more_post = true %}
              {% set singlePost = {
                'title': post.title,
                'url': post.url
              } %}
              {% if post.notfull %}
                {% set singlePost = singlePost | setAttribute('notfull', post.notfull) %}
              {% endif %}
              {% if post.lowQuality %}
                {% set singlePost = singlePost | setAttribute('lowQuality', post.lowQuality) %}
              {% endif %}
              {% if post.private %}
                {% set singlePost = singlePost | setAttribute('private', post.private) %}
              {% endif %}
              {% set newPostListCat = (newPostListCat.push(singlePost), newPostListCat) %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      {% if more_post %}
        {% set more_post = newPostListCat %}
      {% endif %}

      {% set postslist = collections[item.name] %}
      {% set lenlist = postslist | length %}
      {% if lenlist > 0 %}
        <div class="category-wrapper" name="{{ item.name | lower | trim | replace(" ", "-") }}">
          <div class="category">
            <h2 id="{{ item.name | lower | trim | replace(" ", "-") }}">
              <i class="{{ item.fontello }} fontello-icon"></i>{{ item.name }}
            </h2>
            {% set customClass = 'list-homepage list-of-post' %}
            {% set customIcon = true %}
            {% include "components/postslist.njk" %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="toc-index-container">

    {% include "components/toggle-posts-buttons.njk" %}

    <div class="toc-index" id="toc-index">
      <h3>Notes by topics</h3>
      <ul class="toc-js toc-common">
        {% for item in categories %}
          {% set postslist = collections[item.name] %}
          {% set lenlist = postslist | length %}
          {% if lenlist > 0 %}
            <li name="toc-li-{{ item.name | lower | trim | replace(" ", "-") }}">
              <i class="{{ item.fontello }} fontello-icon"></i>
              <a href="#{{ item.name | lower | trim | replace(" ", "-") }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li>
          <a class="no-color" href="/tags/" style="font-style: italic;">More...</a>
        </li>
      </ul>
    </div>

  </div>
</div>
